body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: dotted none none none;
  width: 10%;
  border-width: 15px;
  margin: 30px auto;
  border-color: #E4F9F5;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

#pro {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 200px;
}

.jals-img {
  width: 30%;
  margin: 40px;
  float: left;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mountain {
}

h1 {
  color: #66BFBF;
  margin: 0 auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #66BFBF;
  margin: 1rem;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.profile {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.middle-container {
  background-color: white;

}

.skill-row {
  width: 50%;
  margin: 120PX auto;
  text-align: left;
  line-height: 2;
}
.front-img {
  width: 40%;
  float: left;
}

.back-img {
  width: 40%;

  float: left;
}

.osu-img {
  width: 20%;
  float: right;
  margin-right: 30px;
}

.osu-container {
  background-color: #E4F9F5;
  padding: 50px;
  margin: 0;
}

.contact-me {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.bottom-container {
  margin: 0 0 auto auto;
  background-color: #1eae98;
  padding: 50px;
}
